<div class="navLogo">
    <a href="/">
        <img src="/src/logoName.svg" alt="FIRST C&D 로고" />
    </a>
</div>
<input type="checkbox" id="navToggle" class="navToggle" />
<label for="navToggle" class="navBar"></label>
<ul class="navLinks">
    <li class="navAbout">
        <a href="/About/">회사소개</a>
        <div class="hl"></div>
    </li>
    <li class="navProjects">
        <a href="/Projects/">프로젝트</a>
        <div class="hl"></div>
    </li>
    <li class="navNews">
        <a href="/News/">회사소식</a>
        <div class="hl"></div>
    </li>
    <li class="navContact">
        <a href="/Contact/">오시는길</a>
        <div class="hl"></div>
    </li>
</ul>
